#item-photo {
    width: 314px;
    height: 471px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#item {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#item-title {
    font-size: 3rem;
}

#item-price {
    font-size: 2rem;
}

#item-description {
    color: #333333;
    font-style: italic;
}