#news {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

#news-title {
    font-size: 2.3rem;
}

#news-subtitle {
    font-size: 1.4rem;
    color: #333333;
}

#news-image {
    margin-bottom: 1rem;
}

#news-author {
    color: #333333;
}